@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            ALO Alo
        </p>
        <i class="fa-solid fa-location-dot text-primary my-3"></i>
        <p>
            Istanbul, Turkey
        </p>
        <i class="fa-regular fa-envelope text-primary my-3"></i>
        <p>
            gmail
        </p>

    </div>
</div>
